Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
drf-spectacular>=0.28,<0.29
channels[daphne]>=4.2,<5
channels-redis>=4.2,<5
python-dotenv>=1.1,<2
Pillow>=11,<13
psycopg[binary]>=3.2,<4
gunicorn>=23,<24
django-storages[s3]>=1.14.6,<2
