<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        /* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#error {
    color: red;
}
</style>
</head>
<body>
    <div class="container">
        <h2>Login to Access the Lab</h2>
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <button type="submit">Login</button>
        </form>
    
    </div>
    <div class="container"> 
        <p> Don't have an account? <a href="{% url 'signup' %}">Create one</a></p>
    </div>
</body>
</html>
